*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: gilroy;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
    color: #fff;
}
#page1 {
    height: 100vh;
    width: 220vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 900vh;
    line-height: 8.5vw;
   
}
#page2{
    height: 100vh;
    width: 220vh;
    background-color: #111;
}


