*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
}
#left{
    position: relative;
    width: 40%;
    height: 100%;
}
#right{
    width: 60%;
    height: 100%;
    background-color: white;
}
#right-top{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: blue;
}
#right-bottom{
    width: 100%;
    height: 50%;
    background-color: green;
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-color: orange;
}
#rtopright{
    width: 45%;
    height: 100%;
    background-color: purple;
}
#lnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#lnavr {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
#lnavr i{
    color: royalblue;
}
#left #textCenter {
    position: absolute;
    left: 50%;
    top: 50;
    transform: translate(-50%, -50%);
}